.app {
	padding: 10px;
	text-align: center;
}

.sourceCode {
	position: absolute;
	top: 8px;
	right: 8px;
}

.subtitle {
	color: #c7c7c7;
}

.subsubtitle {
	color: #c7c7c7;
	font-size: 6px;
	margin-bottom: 24px;
}

.warning {
	color: red;
	font-size: 6px;
	margin-bottom: 0px;
}

.gameContainer {
	height: 75vh;
	padding: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	aspect-ratio: 256/240;
}
