.app {
	padding: 10px;
	text-align: center;
}

.subtitle {
	color: #c7c7c7;
}

.gameContainer {
	height: 75vh;
	padding: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	aspect-ratio: 256/240;
}
